<div class="container-fluid">
  <div class="row">
    <div class="col-8 mt-5 mx-auto">
      <h3 class="page-title text-center"> 本当に退会しますか？ </h3>
      <br>
      <br>
      <p class="text-center">退会すると、現在のメールアドレスとパスワードでは<br>
                             ログインすることができなくなります。<br>
                            退会する場合は、「退会する」をクリックしてください。</p>
      <br>
      <br>
      <div class="text-center">
        <%= link_to "　戻る　", shops_my_page_path, class: "btn", style: "background-color: #08D9D6; color: white;" %>
        <%= link_to "退会する", shops_withdraw_path, method: :patch, class: "btn", style: "background-color: #FF2E63; color: white;" %>
      </div>
    </div>
  </div>
</div>