<br>
<br>
<div class="about-title">
  <h3>About Smarto go</h3>
</div>
<div class="about-message">
  <p>お持ち帰り商品があるお店ならどこでも簡単Smartに管理！</p>
  <p>お手持ちのスマートフォンにも対応しています。</p>
  <p>管理を「Smarto go」に変えるだけで過去の履歴から在庫欠の未然防止まで！</p>
  <p>繁忙期の忙しい時だけでもどうぞ！</p>
</div>