<div class="about">
  <div class="about-title">
    <h1 class="page-title">About Smarto go？</h1>
  </div>
  
  <br>
  
  <div class="about-message">
    <div class="about-introduction">
      <p>お持ち帰り商品があるお店ならどこでも簡単Smartに管理！</p>
      <p>お手持ちのスマートフォンにも対応しています。</p>
      <p>管理を「Smarto go」に変えるだけで過去の履歴から在庫欠の未然防止まで！</p>
      <p>繁忙期の忙しい時だけでもどうぞ！</p>
    </div>
    
    <br>
    <br>
    
    <div class="about-how">
      <h2 class="page-title">How to use?</h2>
    </div>
    </br>
    <div class="explanation">
      <div class="explanation-1">
        <h4 class="about-h4">1. まずはあなたのお店を登録しましょう</h4>
        </br>
        <p>あなたのお店の名前とメールアドレス、パスワードだけで簡単に登録ができます。</p>
      </div>
      
      <br>
      
      <div class="explanation-2">
        <h4 class="about-h4">2. あなたのお店の自慢の商品を登録しましょう！</h4>
        </br>
        <p>商品の名前や在庫数を入力してSmarto goに登録します。</p>
        <p>在庫数や最低在庫数を登録すると自動で管理し、商品が少なくなるとお知らせします。</p>
        <p>登録が完了したらサービスを開始できます。</p>
      </div>
      
      <br>
      
      <div class="explanation-3">
        <h4 class="about-h4">3. あなたのお店の予約を管理していきましょう。</h4>
        </br>
        <p>予約をSmarto goにお任せするだけで自動で在庫の管理をします。</p>
        <p>過去の予約も簡単チェックできます！</p>
        <p>予約数が在庫を上回るのを事前に回避するので予約ミスを防げます。</p>
      </div>
      
      <br>
      
      <div class="explanation-4">
        <h5 class="about-h4">忙しい時期こそスマートに！さあ、Smarto goを始めましょう。</h5>
      </div>
      
      <div class="registration-button mt-4">
        <li><%= link_to "　新規登録　", new_shop_registration_path, class: "btn", style: "background-color: #ff2e63; color:white;" %></li>
      </div>
      
    </div>
  </div>
</div>