<div class="container-fluid">
    <div class="top">
      <div class="top-image">
        <%= image_tag "shop.jpg" %>
      </div>
      
      <div class="top-message">
        <p class="message-1 text-center">お持ち帰り商品の予約と在庫の管理を一つに</p>
        <p class="message-2 mx-auto">忙しい時こそSmartに行きましょう！</p>
      </div>
    </div>
</div>