<div class="container-fluid">
  
    <div class="top">
        <div class="col-12">
          <div class="text-success text-center">
            <%= flash[:destroy] %>
          </div>
          
          <div class="top-message text-center mx-auto">
            <h1 class="top-title mt-3"><span>Smarto go</span></h1>
            </br>
            </br>
            </br>
            <p class="message-1 mx-auto">お持ち帰り商品の予約と在庫の管理を一つに</p>
            <p class="message-2 mx-auto">忙しい時こそSmartに行きましょう！</p>
          </div>
        </div>
    </div>
  
</div>