<div class="container-fluid">
  <div class="row">
    <h2 class="page-title text-center mx-auto"> 商品情報一覧 </h2>
    <div class="col-12">
      <div class="plus-button col-md-10 mb-5 text-right">
        <%= link_to "新規商品追加", new_item_path, class: "btn", style: "background-color: #08D9D6; color:white;" %>
      </div>
      
      <div class="col-md-10 offset-md-1">
        <div class="card-columns">
          <% @items.each do |item| %>
            <div class="card">
              <%= link_to item_path(item) do %>
                <div class="img">
                  <%= image_tag item.get_image(400, 200), class: "card-img-top" %>
                </div>
              <% end %>
        
              <div class="card-body">
                <h5 class="card-title"><%= item.product_name %></h5>
                <% if item.is_active == true %>
                  <p class="text-success">販売中</p>
                <% else %>
                  <p class="text-danger">販売停止中</p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
