<div class="container-fluid">
  <div class="row">
    <h2 class="text-center mx-auto page-title">Shop詳細</h2>
    <div class="col-12">
      
      <div class="col-md-7 mt-5 mx-auto">
        
        <div class="text-right mb-1 return-button">
          <%= link_to "戻る", admin_shops_path, class: "btn", style: "background-color: #08D9D6; color:white;" %>
        </div>
        
        <table>
          <table class="table table-show">
            <tr>
              <th>お店の名前</th>
              <td><%= @shop.name %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= @shop.email %></td>
            </tr>
            <tr>
              <th>ステータス</th>
              <td>
                <% if @shop.is_admission == true %>
                  <p class="text-success">稼働中</p>
                <% else %>
                  <p class="text-danger">退会済</p>
                <% end %>
              </td>
            </tr>
          </table>
        </table>
        
        <div class="admin-button text-center">
          <%= link_to "編集する", edit_admin_shop_path, class: "btn", style: "background-color: #08D9D6; color: white;" %>
        </div>
        
      </div>
    </div>
  </div>
</div>