.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.about-h1,
.about-h2 {
    padding: 0.8rem 0;
    margin-bottom: 0.2rem;
    background-image: linear-gradient(90deg, #08D9D6 0 50px, transparent 50px 60px, #FF2E63 0 60px);
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: bottom;
    color: #353535;
    font-weight: bolder;
    font-size: 40px;
}

.explanation{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.about-h4{
  padding: 0.2rem;
  margin-bottom: 0.2rem;
  background: linear-gradient(transparent 60%, #08D9D6 60%);
  font-weight: bold;
  font-size: 25px;
}


.explanation-4{
  display: flex;
  text-align: center;
  margin-top: 20px;
}