.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.explanation{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.about-h4{
  padding: 0.2rem;
  margin-bottom: 0.2rem;
  background: linear-gradient(transparent 60%, #08D9D6 60%);
  font-weight: bold;
  font-size: 25px;
}


.explanation-4{
  display: flex;
  text-align: center;
  margin-top: 20px;
}