.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* ボタンを右端寄りに配置 */
  width: 100%;
  height: 250px;
  background-color: #fff; /* 背景色を指定 */
  padding: 0 100px 0 0; /* ヘッダー右に余白を追加 */
}

.logo img {
  width: auto;
  height: auto;
}

.header-buttons {
  display: flex;
  gap: 50px;
  align-items: center;
}
