

@media (max-width: 425px){
  .table-index {
    width: 80%;
  }
  .table-index .thead {
    display: none;
  }
  .table-index td {
    display: inline-block;
  }
  .table-index span {
    font-weight: bold;
  }
  .table-index .last {
    border-bottom: none;
  }
}
 