.top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-title{
  font-family: 'Arial Black';
  font-size: 100px;
}

h1 {
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

h1 span {
    background: linear-gradient(transparent 60%, #ff2e63 60%);
}


.top-message p{
  font-size: 25px;
  margin: 0
}

.message-1{
  background-image: linear-gradient(transparent 0%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 100%;
  background-color: #08D9D6;
  width: 500px;
}

.message-2{
  background-image: linear-gradient(transparent 0%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 100%;
  background-color: #08D9D6;
  width: 420px;
  text-align: center;
}

@media (max-width: 425px){
  .top-title{
    font-size: 90px;
    margin: 10px;
  }
  
  .message-1,
  .message-2 {
    text-align: center; /* テキストを中央揃えにする */
    max-width: 100%; /* 最大幅を親要素に合わせる */
    margin-left: auto; /* 左側の余白を自動調整 */
    margin-right: auto; /* 右側の余白を自動調整 */
  }
}
