@use '~bootstrap/scss/bootstrap';

@import 'header';
@import 'top';
@import 'about';
@import 'ses-reg';
@import 'to_go';
@import 'item';
@import 'history';
@import 'shop';
@import 'admin';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container-fluid{
  background-color: #fff;
}