@use '~bootstrap/scss/bootstrap';

@import 'header';
@import 'top';
@import 'about';
@import 'ses-reg';
@import 'to_go';
@import 'item';
@import 'history';
@import 'shop';
@import 'admin';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* 全ページ背景色指定 */
.container-fluid{
  background-color: #fff;
}

/* admin・shopのses-reg css*/
.ses-reg-title{
  padding: 0.2rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

/* ses-regページのタイトル css*/
h2 span {
  background: linear-gradient(transparent 60%, #FF2E63 60%);
}

/* admin・shopのses-regフォーム css*/
.sign-up-form,
.sign-in-form{
  max-width: 400px;
  padding: 20px 0;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #08D9D6;
}

/* 全ページタイトルcss */
.page-title{
    padding: 0.8rem 0;
    margin-bottom: 0.2rem;
    background-image: linear-gradient(90deg, #08D9D6 0 50px, transparent 50px 60px, #FF2E63 0 60px);
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: bottom;
    color: #353535;
    font-weight: bolder;
    font-size: 40px;
}

/* 各一覧ページtable css */
.table-index th{
  background-color: #FF2E63;
  color: #fff;
  text-align: center;
}

/* 各一覧ページtable css */
.table-index td{
  text-align: center;
}

/* 各詳細ページtable css */
.table-show{
  width: 100%;
  border-collapse: collapse;
}

/* 各詳細ページtable css */
.table-show tr{
  border-bottom: solid 2px white;
}

/* 各詳細ページtable css */
.table-show tr:label-child{
  border-bottom: none;
}

/* 各詳細ページtable css */
.table-show th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #ff3399;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* 各詳細ページtable css */
.table-show th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #ff3399;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* 各詳細ページtable css */
.table-show td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #afeeee;
  padding: 10px 0;
}

/* 検索フォーム左のラベルcss */
.custom-label-class{
  background-color: #08D9D6;
}

/* f.label css */
.class_label{
  color: #FF2E63;
  font-weight: bold;
}